<section>
    <div class="container text-center mt-5" >
        <h2>RETURN ORDER MANAGEMENT SYSTEM</h2>
        <table class="table text-center table-bordered" align="center" style="max-width: 600px;">
            <thead>
                <tr>
                    <th></th>
                    <th>Integral</th>
                    <th>Accessory</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Packing</td>
                    <td>100</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Delivery Charge</td>
                    <td>200</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Processing Charge</td>
                    <td>500</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Processing Days</td>
                    <td>5</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
        <a routerLink="/returnorders"><button>Click here</button></a> to place a return request 

    </div>
    <!-- <div class="row">
        <div class="col-md-4 p-3">
          <img
            class="img-fluid d-none d-md-inline"
            src="/assets/packaging.jpg"
            alt=""
          />
          <h3>Safe packaging</h3>
          <p class="lead">
            we provide best packaging service which includes a protective sheath
          </p>
        </div>
        <div class="col-md-4 p-3">
          <img
            class="img-fluid d-none d-md-inline"
            src="/assets/delivery2.png"
            alt=""
          />
          <h3>Faster delivery</h3>
          <p class="lead">we provide fastest delivery for your product</p>
        </div>
        <div class="col-md-4 p-3">
          <img
            class="img-fluid d-none d-md-inline"
            src="/assets/repair2.jpg"
            alt=""
          />
          <h3>Best repair service</h3>
          <p class="lead">we provide best repair service for your product</p>
        </div>
      </div>
    </div>
  </section>
  <section id="details">
    <div class="container text-center my-5">
      <img
        class="img-fluid d-none d-md-inline"
        src="/assets/ReturnProcedure.jpg"
        alt=""
      />
      <div class="row">
        <div class="col-md-3 p-3" style="background-color: #ffcf55">
          <img
            class="img-fluid d-none d-md-inline"
            src="/assets/date.png"
            alt=""
          />
          <p class="lead">1. Register return / replacement</p>
          <p>
            you need to register your order return with required product details
          </p>
        </div>
        <div class="col-md-3 p-3" style="background-color: antiquewhite">
          <img
            class="img-fluid d-none d-md-inline"
            src="/assets/payment.png"
            alt=""
          />
          <p class="lead">2.Confirmation and payment</p>
          <p>
            default processing charge for Integral Item will be 500 and for
            Accessory its 300
          </p>
        </div>
        <div class="col-md-3 p-3" style="background-color: #ffcf55">
          <img
            class="img-fluid d-none d-md-inline"
            src="/assets/prepare.png"
            alt=""
          />
          <p class="lead">3. Service and packaging</p>
          <p>
            once the product is repaired or replaced we will package the product
            along with a protective sheath
          </p>
        </div>
        <div class="col-md-3 p-3" style="background-color: antiquewhite">
          <img
            class="img-fluid d-none d-md-inline"
            src="/assets/returndelivery.png"
            alt=""
          />
          <p class="lead">4. Delivery back to you</p>
          <p>
            default delivery charge for integral item is 200 and for accessory its
            100
          </p>
        </div>
      </div>
    </div> -->
</section>